body {
    background-color: gray;
    font-family: sans-serif;
}

#cabecalho {
    border: black 1px solid;
    border-radius: 10px;
    padding-left: 50px;
    margin-bottom: 30px;
    box-shadow: black 2px 2px 5px;
}

#conteudo {
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
    padding: 2%;
}

a {
    color: blue;
    text-decoration: unset;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#navbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

#imgLoja {
    width: 100%;
}

#tituloDestaque {
    display: flex;
    justify-content: center;
    text-shadow: grey 1px 1px 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#produtos{
    display: flex;
    justify-content: space-between;
}

.produtoDestaque{
    border: grey 1px solid;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: gray 2px 2px 3px;


}

.imgDestaque{
    width: 50%;
    margin-left: 20%;
    margin-bottom: 10px;
}

h3{
    text-align: center;
    font-size: 30px;
}

.descDestaque{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 5px;
    margin-right: 5px;
    text-align: justify;
}

.imgRodape{
    width: 2%;
}

#rodape{
    display: flex;
    justify-content: space-between;
    background-color: slategrey;
    margin-top: 30px;
}

#redesSociais{
    padding-bottom: 50px;
    margin-left: 20px;
    margin-top: 20px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.rede{
    margin-top: 5px;
    margin-bottom: 5px;
}

#email{
    margin-right: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    
}

#receba{
    color: white;
    margin-top: 15px;
    margin-bottom: 5px;
}

input{
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
}

button{
    background-color: cornflowerblue;
    width: 70px;
    height: 40px;
    font-size: 13px;
}